  <footer class="footer">
    <p>Copyright &copy; Vencator 2018</p>
  </footer>
  <script src="/validator.js"></script>
  <% if (paginData) { %>
  <script src="/paginator.js"></script>
  <script src="/sort.js"></script>
  <script src="/accordeon.js"></script>
  <% } %>
</body>
</html>
