  <% include partials/header %>
  <div class="site-content">
    <section class="container">
      <h1 class="headline">Vencator's OMDB app</h1>
      <div class="search-box">
        <form action="/search" method="POST">
          <input type="text" name="searchString" placeholder="movie or game name" autofocus>
          <select name="year">
              <option value="null">all</option>
            <% for (let i = 1; i < years.length; i++ ) { %>
              <option value="<%= years[i] %>"><%= years[i] %></option>
            <% } %>
          </select>
          <button type="submit" class="btn btn-primary">go</button>
        </form>
      </div>
      <% if (error) { %>
        <h2><%= error %></h2>
      <% } %>
      <% if (paginData) { %>
        <% include searchResults %>
      <% } %>
    </section>
  </div>
  <% include partials/footer %>
