<div class='narrow-container'>
  <h2>Search results for <%= paginData.searchString %> of total <%= paginData.total %> results</h2>
  <% if (paginData.total > 10) { %>
    <div class="tools" id="scrollHere">
      <div class="sort"></div>
      <div class="paginator" data-pagindata='<%= JSON.stringify(paginData) %>'></div>
    </div>
  <% } %>
  <div class="hide" id="loading">Loading...</div>
  <ul class="accordeon-list">
    <% results.forEach(result => { %>
      <li><button class="accordeon"><%= result.Title + ' - ' %> <span><%= result.Year %></span></button>
          <div class="panel" data-id="<%= result.imdbID %>">
            <div class="details">
                <div class="poster">
                  <% if (result.Poster !== 'N/A') { %>
                  <img src="<%= result.Poster %>" alt="Poster for <%= result.Title  %>">
                  <% } else { %>
                  <img src="/no-poster.jpeg" alt="No Poster available">
                  <% } %>
                </div>
                <div class="info">
                  <span id="Plot"></span>
                  <span id="Genre"></span>
                  <span id="Runtime"></span>
                  <span id="Director"></span>
                  <span id="Actors"></span>
                  <span id="Country"></span>
                  <span id="imdbRating"></span>
                </div>
              </div>
          </div>
      </li>
    <% }) %>
  </ul>
</div>
