.accordeon-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;

  .accordeon {
    width: 100%;
    background-color: $mainWhite;
    height: 40px;
    outline: none;
    border: none;
    text-align: left;
    padding-left: 20px;
    border-top: 1px solid #eeefdd;
  }

  .active, .accordeon:hover {
    background-color: #e6e6e6;
    transition: background 0.4s ease-out;
  }

  .accordeon:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    padding-right: 10px;
  }

  .active:after {
    content: "\2212";
  }

  .panel {
    padding: 0 18px;
    background-color: $mainWhite;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.1s ease-out;
  }

  .details {
    display: flex;
  }

  .poster {
    flex: 1;
    padding: 30px;

    img {
        width: 100%;
    }
  }


  .info {
    flex: 1;
    padding: 30px;
    span {
        display: block;
        padding-bottom: 16px;
    }
  }

}
