.btn {
  height: 40px;
  padding: 0 20px;
  font-size: 18px;
  border: none;
  outline: none;
  color: $mainWhite;

  &.btn-primary {
    background-color: $primary;
  }

  &.btn-secondary {
    background-color: $secondary;
  }

  &.btn-danger {
    background-color: $danger;
  }
}
