.site {
  font-family: 'Roboto', sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: $mainBackground;
}

.site-content {
  flex: 1;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headline {
  font-size: 1.25rem;

  @mixin atSmall {
    font-size: 1.5rem;
  }

  @mixin atMedium {
    font-size: 2rem;
  }

  @mixin atLarge {
    font-size: 3rem;
  }
}

.narrow-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  @mixin atMedium {
    width: 82%;
  }

  @mixin atLarge {
    width: 60%;
  }
}

.tools {
  width: 100%;
  height: 60px;
  background-color: $primary;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  @mixin atMedium {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
  }
}

.footer {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $primary;
  color: $mainWhite;
}

.hide {
  display: none;
}
