.paginator {
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;

  a {
    padding: 1px 3px;
    text-decoration: none;
    color: $mainWhite;
    display: inline-block;
    transition: all .4s;

    &:hover {
      transform: scale(1.5);
    }

    @mixin atSmall {
      padding: 1px 4px;
    }

    @mixin atMedium {
      padding: 1px 5px;
    }
  }

  .active {
    color: $secondary;
  }

  .disabled {
    color: #999999;
    pointer-events: none;
  }

}
