.search-box {
  padding: 40px;
  form {
    display: flex;;
  }

  input, select {
    background-color: $mainWhite;
  }

  input, select {
    height: 40px;
    font-size: 18px;
    border: none;
    outline: none;
    padding: 0 10px;

    @mixin atMedium {
      height: 50px;
    }
  }

  input {
    width: 200px;
    box-sizing: border-box;

    @mixin atSmall {
      width: 250px;
    }

    @mixin atMedium {
      width: 400px;
    }

  }

  select {
    -webkit-appearance: none;
  }

  button {
    text-transform: uppercase;

    &[disabled] {
      background-color: $disabled;
      cursor: not-allowed;
    }

    @mixin atMedium {
      height: 50px
    }
  }
}
