.sort {
  button {
    background-color: inherit;
    color: $mainWhite;
    border: none;
    outline: none;
    padding: 0;
    margin-right: 20px;
    transition: all .4s;

    &:hover {
      transform: scale(1.3);
    }
  }
  .active {
    color: $secondary;
  }

}
