/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

.site {
  font-family: 'Roboto', sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #eaebcb;
}

.site-content {
  flex: 1;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headline {
  font-size: 1.25rem;
}

@media (min-width: 530px) {

.headline {
    font-size: 1.5rem
}
  }

@media (min-width: 800px) {

.headline {
    font-size: 2rem
}
  }

@media (min-width: 1200px) {

.headline {
    font-size: 3rem
}
  }

.narrow-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

@media (min-width: 800px) {

.narrow-container {
    width: 82%
}
  }

@media (min-width: 1200px) {

.narrow-container {
    width: 60%
}
  }

.tools {
  width: 100%;
  height: 60px;
  background-color: #1f5177;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

@media (min-width: 800px) {

.tools {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box
}
  }

.footer {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f5177;
  color: #fefdf1;
}

.hide {
  display: none;
}

.search-box {
  padding: 40px;
}

.search-box form {
    display: flex;;
  }

.search-box input, .search-box select {
    background-color: #fefdf1;
  }

.search-box input, .search-box select {
    height: 40px;
    font-size: 18px;
    border: none;
    outline: none;
    padding: 0 10px;
  }

@media (min-width: 800px) {

.search-box input, .search-box select {
      height: 50px
  }
  }

.search-box input {
    width: 200px;
    box-sizing: border-box;

  }

@media (min-width: 530px) {

.search-box input {
      width: 250px

  }
  }

@media (min-width: 800px) {

.search-box input {
      width: 400px

  }
  }

.search-box select {
    -webkit-appearance: none;
  }

.search-box button {
    text-transform: uppercase;
  }

.search-box button[disabled] {
      background-color: #7a96ab;
      cursor: not-allowed;
    }

@media (min-width: 800px) {

.search-box button {
      height: 50px
  }
  }

.accordeon-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;

}

.accordeon-list .accordeon {
    width: 100%;
    background-color: #fefdf1;
    height: 40px;
    outline: none;
    border: none;
    text-align: left;
    padding-left: 20px;
    border-top: 1px solid #eeefdd;
  }

.accordeon-list .active, .accordeon-list .accordeon:hover {
    background-color: #e6e6e6;
    transition: background 0.4s ease-out;
  }

.accordeon-list .accordeon:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    padding-right: 10px;
  }

.accordeon-list .active:after {
    content: "\2212";
  }

.accordeon-list .panel {
    padding: 0 18px;
    background-color: #fefdf1;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.1s ease-out;
  }

.accordeon-list .details {
    display: flex;
  }

.accordeon-list .poster {
    flex: 1;
    padding: 30px;
  }

.accordeon-list .poster img {
        width: 100%;
    }

.accordeon-list .info {
    flex: 1;
    padding: 30px;
  }

.accordeon-list .info span {
        display: block;
        padding-bottom: 16px;
    }

.paginator {
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;

}

.paginator a {
    padding: 1px 3px;
    text-decoration: none;
    color: #fefdf1;
    display: inline-block;
    transition: all .4s;
  }

.paginator a:hover {
      -webkit-transform: scale(1.5);
              transform: scale(1.5);
    }

@media (min-width: 530px) {

.paginator a {
      padding: 1px 4px
  }
  }

@media (min-width: 800px) {

.paginator a {
      padding: 1px 5px
  }
  }

.paginator .active {
    color: #4df320;
  }

.paginator .disabled {
    color: #999999;
    pointer-events: none;
  }

.sort button {
    background-color: inherit;
    color: #fefdf1;
    border: none;
    outline: none;
    padding: 0;
    margin-right: 20px;
    transition: all .4s;
  }

.sort button:hover {
      -webkit-transform: scale(1.3);
              transform: scale(1.3);
    }

.sort .active {
    color: #4df320;
  }

.btn {
  height: 40px;
  padding: 0 20px;
  font-size: 18px;
  border: none;
  outline: none;
  color: #fefdf1;
}

.btn.btn-primary {
    background-color: #1f5177;
  }

.btn.btn-secondary {
    background-color: #4df320;
  }

.btn.btn-danger {
    background-color: #fe1616;
  }
